a {
    color: #000;
    text-decoration: none;
}

._news {
    background: #FFFDF6;
    padding-bottom: 10px;
}

._news-title {
    font-family: Noto Sans TC;
    font-size: 36px;
    font-weight: 500;
    line-height: 52px;
    text-align: center;

}

._newscard {
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
}

._newscard:hover {
    opacity: 75%;
}

._newscard h5 {
    font-family: Noto Sans TC;
    font-size: 24px;
    line-height: 35px;

}